<div class='container text-center'>
  <% if @questions.blank? %>
    <div class="row">
      <p class="text-center">There are no questions yet. You need to create at least 5 in order to create a test<p>
    </div>
  <% end %>

  <% @questions.each do |question| %>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <p class='text-center'><%= link_to question.title, question %></p>
      </div>
      <div class="col-sm-6 col-md-3">
        <p class='text-center'><%= question.body%></p>
      </div>
      <div class="col-sm-6 col-md-3">
        <p class='text-center'><%= question.explanation_field %></p>
      </div>
      <div class="col-sm-6 col-md-3">
        <%= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>

  <div class='row'>
    <div class="col-3">
      <%= link_to 'New preparation question', new_preparation_question_path, class: 'btn btn-primary' %>
    </div>
    <div class="col-3">
      <%= link_to 'New exam question', new_exam_question_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
