<%= form_with(model: preparation_test, local: true) do |form| %>
  <% if preparation_test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(preparation_test.errors.count, "error") %> prohibited this preparation_test from being saved:</h2>

      <ul>
      <% preparation_test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :hint %>
    <%= form.text_area :hint %>
  </div>

  <div class="field">
    <%= form.label :use_count %>
    <%= form.number_field :use_count %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
