<div class="container">
  <div class="row">
    <div class="col-12">
      <p class="text-center"><%= preparation_test.name %></p>
    </div>
  </div>

  <div class="row">
    <div class='col-12 text-center'>
      <% preparation_test.questions.each_with_index do |question, index| %>
        <div class="row">
          <div class="col-3">
            <%= index + 1 %>
          </div>
          <div class="col-3">
            <%= link_to question.title, question %>
          </div>
          <div class="col-3">
            <%= question.body %>
          </div>
          <div class="col-3">
            <%= question.hint %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class='col-12 text-center'>
      <%= link_to 'Edit', edit_preparation_test_path(preparation_test), class: 'btn btn-primary' %>
      <%= link_to 'Back', root_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
