<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= preparation_question.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= preparation_question.body %>
</p>

<p>
  <strong>Hint:</strong>
  <%= preparation_question.hint %>
</p>

<%= link_to 'Edit', edit_preparation_question_path(preparation_question) %> |
<%= link_to 'Back', questions_path %>
