<p id="notice"><%= notice %></p>

<h1>All tests here</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td><%= test.name %></td>
        <td><%= test.type %></td>
        <td><%= link_to 'Show', test %></td>
        <td><%= link_to 'Edit', public_send("edit_#{test.type}_path", test) %></td>
        <td><%= link_to 'Destroy', test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
